

<div class="container">
  <div *ngIf="photosIsLoaded;else loading_spinner" class="card">
    <div class="card-header">
      <h1>{{currentPhoto.title | titlecase}}</h1>
    </div>
    <div class="card-body mx-auto">
        <img class="rounded float-right img-fluid" [src]="currentPhoto.img">
    </div>
    <div class="card-footer">
      <div class="btn-group">
        <button [ngClass]="{active:btnNum == currPhotoIndex}" *ngFor="let btnNum of imagesCountArray" (click)="setCurrentPhoto(btnNum)" type="button" class="btn btn-secondary">{{btnNum+1}}</button>
      </div>
      <button (click)="takePhotosToShow()" type="button" class="btn btn-secondary float-right">Shuffle</button>
    </div>
  </div>
</div>
<ng-template #loading_spinner>
  <div class="loader"></div>
</ng-template>